<nav>
				<div>
								<div>
												<div>
																<ul>
																				<li>
																								<a href="{{ site.baseurl }}/">Home</a>
																				</li>
																				{% for page in site.pages %}
																				{% if page.title %}
																				<li>
																								<a href="{{ page.url }}">{{ page.title }}</a>
																				</li>
																				{% endif %}
																				{% endfor %}
																</ul>
												</div>
								</div>
				</div>
</nav>
