<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid nav-spread">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img class="nav-logo" src="{{ site.baseurl }}/assets/img/timon-bike-logo.svg" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <div class="nav-icon">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% assign current_url = page.url | default: '/' %}
        {% assign is_about = false %}
        {% if current_url == '/' or current_url == '/index.html' %}
          {% assign is_about = true %}
        {% endif %}
        {% assign is_blog = false %}
        {% if current_url == '/blog/' or current_url == '/blog/index.html' or page.layout == 'post' %}
          {% assign is_blog = true %}
        {% endif %}

        <li class="nav-item">
          <a
            class="nav-link{% if is_about %} is-active{% endif %}"
            href="{{ site.baseurl }}/"
            {% if is_about %}aria-current="page"{% endif %}
          >About Me</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link{% if is_blog %} is-active{% endif %}"
            href="{{ site.baseurl }}/blog/"
            {% if is_blog %}aria-current="page"{% endif %}
          >Blog</a>
        </li>
        {% for nav_page in site.pages %}
        {% if nav_page.title and nav_page.nav != false and nav_page.url != '/' and nav_page.url != '/blog/' %}
        {% assign is_current = false %}
        {% if current_url == nav_page.url %}
          {% assign is_current = true %}
        {% endif %}
        <li class="nav-item">
          <a
            class="nav-link{% if is_current %} is-active{% endif %}"
            href="{{ nav_page.url | relative_url }}"
            {% if is_current %}aria-current="page"{% endif %}
          >{{ nav_page.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <script src="{{ site.baseurl }}/assets/js/nav.js"></script>
</nav>
