* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.3);
}

.nav-logo {
    background: linear-gradient(to bottom right, lightgreen, lightblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 900;
}

.navbar-nav {
    color: #e4e6eb;
    text-transform: uppercase;
    margin-right: 0;
    margin-left: auto;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.nav-icon {
    display: block;
}

.nav-icon div {
    width: 25px;
    height: 2px;
    background-color: #e4e6eb;
    margin: 5px;
    transition: all 0.5s ease;
}

.nav-icon.open .line1 {
    transform: rotate(-45deg) translate(-4px, 6px);
}
.nav-icon.open .line2 {
    opacity: 0;
}
.nav-icon.open .line3 {
    transform: rotate(45deg) translate(-4px, -6px);
}

.content {
    border-radius: 5px;
    color: #e4e6eb;
    max-width: 900px;
    margin: 1% auto 1%;
    padding: 20px 20px 50px 20px;
    flex: 1;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #18191a;
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 1.125rem;
    height: 100%;
    max-width: 100%;
}

a {
    color: #C0BAB2;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #5BE3FF;
}

p {
    line-height: 1.5;
    margin: 1.875rem 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.1;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.875rem;
}

h3, .menu-item {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.125rem;
}

h1, h2, h3, h4 {
    margin-top: 1.25rem;
}

.profile-picture {
    margin-left: 15px;
    float: right;
    border-radius: 5%;
    width: 40%;
}

footer {
    position: relative;
    display: flex;
    align-items: center;
    min-height: max(4vh, 35px);
    justify-content: space-around;
    background-color: #242526;
    z-index: 3;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 20%;
}

.internal-link {
    text-decoration: none;
}

.post-preview {
    border-bottom: 1px solid rgb(80, 80, 80);
    overflow: hidden;
    width: 50rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.post-title {
    margin-top: 0;
}

.post-subtitle {
    font-weight: normal;
}

.post-date {
    color: #666666;
}

.post-with-thumbnail {
    display: block;
}

.thumbnail-link {
    float: right;
    max-width: 25%;
    max-height: 100%;
    margin-left: 0.625rem;
}

.post-thumbnail {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.thumbnail-link:hover .post-thumbnail {
    opacity: 1;
}

.blog-post-img-header {
    display: block;
    width: 100%;
}

.blog-post-img-header-container {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
}

.blog-post-img-header-shadow {
    position: absolute;
    box-shadow:
    inset -20px 15px 20px 10px #18191a,
    inset -20px -15px 20px 10px #18191a;
    width: calc(100% + 60px);
    height: 100%;
    top: 0;
    left: 0;
}

.blog-post-img-small {
    display: block;
    width: 500px;
}

.blog-post-img-large {
    display: block;
    width: 100%;
}

table td, table th {
    border: 1px solid #303030;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

footer table td {
    border-style: none;
}

.cv-bullet {
    position: relative;
    margin-left: 1.875rem;
}

.cv-bullet-icon {
    font-size: 1.5rem;
    position: absolute;
    left: -2.5rem;
    margin-top: 0.3125rem;
}

.about-container {
    max-width: 700px;
}

.highlighter-rouge .highlight .rouge-table .rouge-gutter,
.highlighter-rouge .highlight .rouge-table .rouge-code {
  border: 0 !important;
}

.rogue-code {
    width: 100%;
}

.highlight .k {
    color: #569CD6;
}

.highlight .nc {
    color: #43C98F;
}

.highlight .n {
    color: #9CDCFE;
}

.highlight .nf {
    color: #DCCD79;
}

footer ul li a {
    display: block;
    height: 100%;
}

footer i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

footer a:hover {
    color: #C0BAB2;
}

footer .fa-lg:hover {
    transition: color .3s ease-in-out;
}

.fa-youtube:hover {
    color: #ff1a1a;
}

.fa-github:hover {
    color: rgb(240, 81, 51);
}

.fa-linkedin:hover {
    color: rgb(40, 103, 178);
}

.fa-envelope:hover {
    color: rgb(1, 197, 131);
}