---
---

$text-primary: #e4e6eb;
$content-width: 900px;
$background-light: #151C2A;
$background-dark: #0F1114;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.3);
}

.nav-logo {
    height: 55px;
    box-shadow: none;
}

.nav-spread {
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;
}

.navbar-nav {
    color: $text-primary;
    text-transform: uppercase;
    margin-right: 0;
    margin-left: auto;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.nav-icon {
    display: block;
}

.nav-icon div {
    width: 25px;
    height: 2px;
    background-color: $text-primary;
    margin: 5px;
    transition: all 0.5s ease;
}

.nav-icon.open {
    .line1 {
        transform: rotate(-45deg) translate(-4px, 6px);
    }
    .line2 {
        opacity: 0;
    }
    .line3 {
        transform: rotate(45deg) translate(-4px, -6px);
    }
}

.navbar-collapse ul li {
    margin: auto;
}

.nav-link {
    color: $text-primary !important;
}

.content {
    border-radius: 5px;
    color: $text-primary;
    max-width: $content-width;
    margin: 1% auto 1%;
    padding: 20px 20px 50px 20px;
    flex: 1;
}

html {
    height: 100%;
    background-color: $background-dark;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient($background-light, $background-dark) no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    min-height: 100vh;
    max-width: 100%;
}

a {
    color: $text-primary;
    text-decoration: underline;

    &:hover, &:focus {
        color: #5BE3FF;
    }
}

p {
    line-height: 1.5;
    margin: 1.875rem 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 800;
    line-height: 1.1;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.875rem;
}

h3, .menu-item {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.125rem;
}

h1, h2, h3, h4 {
    margin-top: 1.25rem;
}

.profile-picture {
    margin-left: 15px;
    float: right;
    border-radius: 5%;
    width: 40%;
}

footer {
    color: $text-primary;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-around;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.3);

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: 20%;
        height: 100%;
        padding: 0;
        margin-bottom: 0;

        li a {
            display: block;
            height: 100%;
            line-height: 50%;
        }
    }


    i {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .fa-lg:hover {
        transition: color .3s ease-in-out;
    }

    .fa-youtube:hover {
        color: #ff1a1a;
    }

    .fa-github:hover {
        color: rgb(240, 81, 51);
    }

    .fa-linkedin:hover {
        color: rgb(40, 103, 178);
    }

    .fa-envelope:hover {
        color: rgb(1, 197, 131);
    }
}

.internal-link {
    text-decoration: none;
}

.post-preview {
    border-bottom: 1px solid rgb(80, 80, 80);
    overflow: hidden;
    width: 50rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.post-title {
    margin-top: 0;
}

.post-subtitle {
    font-weight: normal;
}

.post-date {
    color: #666666;
}

.post-with-thumbnail {
    display: block;
}

.thumbnail-link {
    float: right;
    max-width: 25%;
    max-height: 100%;
    margin-left: 0.625rem;
}

.post-thumbnail {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.thumbnail-link:hover .post-thumbnail {
    opacity: 1;
}

.blog-post-img-header {
    display: block;
    width: 100%;
}

img {
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.blog-post-img-small {
    display: block;
    width: 500px;
}

.blog-post-img-large {
    display: block;
    width: 100%;
}

table {
    td, th { 
        border: 1px solid #303030;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.cv-bullet {
    position: relative;
    margin-left: 1.875rem;
}

.cv-bullet-icon {
    font-size: 1.5rem;
    position: absolute;
    left: -2.5rem;
    margin-top: 0.3125rem;
}

.about-container {
    max-width: 700px;
}

.highlighter-rouge .highlight .rouge-table .rouge-gutter,
.highlighter-rouge .highlight .rouge-table .rouge-code {
  border: 0 !important;
}

.rogue-code {
    width: 100%;
}

.highlight {
    .k {
        color: #569CD6;
    }

    .nc {
        color: #43C98F;
    }

    .n {
        color: #9CDCFE;
    }

    .nf {
        color: #DCCD79;
    }
}
